*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.idea
.DS_Store
/build
/captures
.externalNativeBuild
*.apk
apk
*.log
*.txt
/tinkerPatch/
/librarys/AndroidVideoCache/build/
/screenMatch.properties
/screenMatch_example_dimens.xml
/buildsystem/apk_channel.properties